<header>
    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 headerMenu text-right">
            <div class="headerMenu__list headerMenu__list--space">
                <ul>
                    <li><a>About</a></li>
                      <li><a>How it works</a></li>
                      <li><a>Popular locations</a></li>
                </ul>
            </div>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 headerMenu text-left">
            <div class="headerMenu__list">
                <ul>
                    <li><a>Login</a></li>
                    <li><a>Sign up</a></li>
                    <li><a>Help</a></li>
                </ul>
                <button>List your Property</button>
            </div>
        </div>
    
    </div>
</header>